# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files

  - repo: https://github.com/kynan/nbstripout
    rev: 0.5.0
    hooks:
      - id: nbstripout

  # Prose (speech or writing) Linter
  # - repo: local
  #   hooks:
  #     - id: proselint
  #       name: Proselint
  #       description: An English prose (speech or writing) linter
  #       entry: proselint
  #       language: system
  #       types: [rst, markdown]
  #       additional_dependencies: [proselint]
